body{
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #9c27b0, #8ecdff);
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
/* navigation menu */
nav{
    background: linear-gradient(to right, #9c27b0, #8ecdff);
    box-shadow: 0px 10px 15px -10px gray;
    position: sticky;
    margin: 0%;
    z-index: 1;
}
.menu{
    display: flex;
    position: sticky;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.logo img{
    width: 250px;
    height: 70px;
}
.categories{
    position: relative;
    display: block;
    margin-left: 35%;
}
.nav-links ul{
    display: flex;
    list-style: none;
}
.nav-links a{
    color: white;
    font-weight: 700;
    text-decoration: none;
    padding-left: 25px;
    padding-right: 25px;
}
.nav-links li{
    border: 2px solid white;
    margin-left: 2%;
    margin-right: 2%;
}
.nav-links li:hover{
    border: 2px solid white;
    background-color: #ff951c;
    margin-left: 2%;
    margin-right: 2%;
}
/* ******************* */
.mobile{
    width: 200px;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translateY(-50%);
    z-index: 1;
}
main > section > div{
    width: 1000px;
    height: 1000px;
    transform: translateY(-14%);
    top: 50%;
    left: -10%;
}
main > section > div > div{
    width: 1000px;
    height: 1000px;
    top: 0%;
    left: 0%;
    border-radius: 50%;
    background: gray;
}
.featute{
    position: absolute;
    display: flex;
    margin: 2%;
}
.featute div{
    margin-left: 30px;
}
.featute div h1{
    margin: 0%;
}
.featute div p{
    margin: 0%;
}
.featute img{
    width: 70px;
    height: 70px;
    margin-top: -1%;
}
.one{
    top: 450px;
    right: 50px;
    color: white;
    margin: 0%;
}
.two{
    top: 150px;
    left: 350px;
    color: white;
    margin: 0%;
}
.three{
    bottom: 480px;
    left: 50px;
    color: white;
    margin: 0%;
}
.four{
    bottom: 150px;
    right: 350px;
    color: white;
    margin: 0%;
}